* {
  font-family: sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.container {
  width: 820px;
  margin: 50px auto;
  border: 5px solid black;
  position: relative;
}

body {
  font-weight: bold;
}

.sale {
  background-color: rgb(189, 3, 3);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 10px 15px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -40px;
}

h2 {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 20px;
}
h3 {
  margin-bottom: 20px;
}

.ready {
  margin-bottom: 10px;
}

article p:nth-child(2) {
  font-size: 12px;
  color: rgb(59, 57, 57);
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dollar {
  font-size: 22px;
}

ul {
  list-style: square;
  padding-left: 20px;
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

nav a:any-link,
a:visited {
  color: black;
}

nav a:hover,
a :active {
  text-decoration: none;
}

button {
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: large;
  border: 4px solid black;
  cursor: pointer;
  width: 100%;
  padding: 20px 0;
}

button:hover {
  border: none;
  background-color: white;
  color: black;
  font-weight: bold;
  border-top: 5px solid black;
}

.box {
  margin-top: 30px;
}

.black {
  background-color: black;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
}
.blue {
  background-color: blue;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
}
.red {
  background-color: red;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
}
.yellow {
  background-color: yellow;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
}
.green {
  background-color: lightgreen;
  padding: 10px;
  display: inline-block;
  margin-right: 10px;
}
.brown {
  background-color: brown;
  padding: 10px;
  display: inline-block;
}

/* float */

/* .dollar {
  float: left;
}
.free {
  float: right;
}
  */

/*  825 - 8 - 250 - 80 = 487/2=243 */

/* .img {
  width: 250px;
  float: left;
  margin-right: 40px;
}
.related-1 {
  width: 243px;
  float: left;
  margin-right: 40px;
  padding-top: 20px;
}

.related-2 {
  width: 243px;
  float: right;
  margin-top: 20px;
}

.dollar {
  float: left;
}
.free {
  float: right;
  margin-top: 8px;
}
.clearfix {
  clear: both;
} */

